@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

$blueLigth: #666CA3;
$blueDark: #13183F;
$gray: #83869A;
$fucsia: #F74780;
$fucsiLigth: #FFA7C3;
$white: #ffffff;
$degradedFucsia: #F02AA6;
$degradedOrange: #FF6F48;
$degradedBlue: #4851FF;
$fontGeneral: 'Plus Jakarta Sans', sans-serif;


*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    font-family: $fontGeneral;
    overflow-x: hidden;
}

/** Generales **/

.heading-xl{
    color: $blueDark;
    font-size: 5.6rem;
    font-weight: 800;
    line-height: 7rem;
}

.heading-l{
    color: $blueDark;
    font-size: 4rem;
    font-weight: 800;
    line-height: 5.1rem;
}

@media (min-width: 1080px) {
    .heading-l{
       font-size: 5.6rem;
       line-height: 7rem;
    }
}

.heading-m{
    color: $blueDark;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 4rem;
}

.heading-s{
    color: $blueDark;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 2.8rem;
}

.heading-xs{
    color: $blueDark;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.55rem;
}

.body-m{
    color: $gray;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem
}

@media (min-width: 768px) {
    .body-m{
        font-size: 1.8rem;
    }
}

.body-s{
    color: $gray;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem
}

.button{
    border: none;
    border-radius: 2.8rem ;
    color: $white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    height: 4.8rem;
    padding: 1.4rem 3.2rem;
}

.button__one-idle{
    background-color: $blueDark;
    @extend .button;
}

.button__two-idle{
    background: linear-gradient($degradedOrange, $degradedFucsia);
    @extend .button;
}

.button__third-idle{
    background: linear-gradient($degradedBlue, $degradedFucsia);
    @extend .button;
}

.button__one-idle:hover, .button__two-idle:hover, .button__third-idle:hover{
    cursor: pointer;
    opacity: 0.6;
}

.container{
    background-color: transparent;
    margin: 0 auto;
    max-width: 110rem;
    width: 90%;
}

/** Header **/

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.6rem auto 3.8rem;
    &__logo{
        width: 8.9rem;
        img{
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .header{
        margin: 2.4rem auto 3.8rem;
    }
}

@media (min-width: 1080px) {
    .header{
        margin: 2.4rem auto 8.8rem;
    }
}


.hero{
    display: grid;
    h1{
        margin-bottom: 2.4rem;
    }
    button{
        margin: 2.4rem 0 4.6rem;
    }
    &__poster{
        aspect-ratio: 1/1.1;
        background-image: url('../assets/image-hero-mobile@2x.png');
        background-position: top -20px center;
        background-size: cover;
        margin: 0;
        object-fit: cover;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .hero{
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        height: 28.4rem;
        margin: 10rem auto 0;
        max-height: auto;
        position: relative;
        &__poster{
            aspect-ratio: 1/1;
            background-image: url('../assets/image-hero-tablet@2x.png');
            background-position: center;
            background-size: contain;
            position: absolute;
            right:0;
            transform: translate(50%,-9%);
            z-index: -1;
        }
    }
}

@media (min-width: 1080px) {
    .hero{
        display: grid;
        grid-template-columns: 46rem 2fr;
        grid-template-rows: 2fr;
        height: 55rem;
        &__poster{
            aspect-ratio: 1/0.9;
            background-image: url('../assets/image-hero-desktop@2x.png');
            background-position: right top;
            grid-row: 1/-1;
            position: absolute;
            right:0;
            transform: translate(50%,-13rem);
        }
    }
}

main{
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    overflow: none;
    padding-bottom: 8rem ;
}

.services{
    display: grid;
    gap: 4.6rem;
    .service{
        background-color: $white;
        border-radius: 1rem;
        padding: 2.7rem 2.8rem;
        position: relative;
        &__icon{
            background: linear-gradient($degradedOrange, $degradedFucsia);
            border-radius: 25rem;
            height: 5.6rem;
            position: absolute;
            top:-1.8rem;
            width: 5.6rem;
        }
        &__title{
            margin: 2.8rem 0 1.6rem;
        }
        &__text{
            margin-bottom: 2.4rem;
        }
        &__link{
            color: $fucsia;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.8rem;
            text-decoration: none;
        }
    }
    .service__highlight{
        background: linear-gradient($degradedOrange, $degradedFucsia);
        h2{
            color: $white;
            line-height: 3.2rem;
            @extend .heading-s;
        }
    }
}

@media (min-width: 768px) {
    .services{
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-top: 18rem;
        row-gap: 5.6rem;
    }
}

@media (min-width: 1080px) {
    .services{
        column-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 13rem;
        row-gap: 8rem;
    }
}

.footer{
    background-color: $blueDark;
    &__info{
        align-items: center;
        display: flex;
        height: 12rem;
        justify-content: space-between;
    }
    .footer__logo{
        align-items: center;
        display: flex;
        height: 3.5rem;
        width: 8.9rem;
        img{
            margin: 0;
            width: 8.9rem;
        }
    }
    .attribution{
        color: $white;
        font-size: 1rem;
        height: 4rem;
        text-align: center;
        a{
            color: $white;
        }
    }
}
